[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
pipenv = "*"
shell = "*"
alembic = "*"
flask-migrate = "*"
faker = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
